<!DOCTYPE html>
  <head> <!-- Required meta tags for Bootstrap -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>CONTROL</title>
    <link rel="stylesheet" href='../static/master.css'/>
  </head>

  <body>
    <div class="mx-auto" style="width: 600px;">
    <h2>Sistema de Control Planta Industrial</h2>
    </div>
    <br>
    <h4> Menu Principal: Operaciones </h4>
        <h3>    
            <a href="/db/sensors"<button type="button" class="btn btn-primary btn-lg btn-block">Consultar Sensores</button> </a>
	    <a href="/db/sensors/medidas/6/" <button type="button" class="btn btn-primary btn-lg btn-block">Consultar medidas presion</button> </a>
	    <a href="/db/motors" <button type="button" class="btn btn-primary btn-lg btn-block">Consultar estado motores</button></a>
	</h3>
   </body>
</html>
