<!DOCTYPE html>
   <head>
      <title>CONTROL</title>
      <link rel="stylesheet" href='../static/master.css'/>
   </head>

   <body>
		<h1>Sistema de Control Planta Industrial</h1>
		<h2> Sensor de Luz </h2>
		<a href="/sensorluz" class="button">LEER LUX </a>  
		<br>
		<br>
		<h2> Estado del LED </h2>
		<h3>  LED ==>  {{ led  }}</h3>

		<br>
		<h2> Operaciones </h2>
		<h3> 
			LED Ctrl ==> 
			
			<a href="/led/on" class="button">LED ON</a>  
			<a href="/led/off" class="button">LED OFF</a>  
		</h3>


		
   </body>
</html>
