[Unit]
Description=Run fichero_servicioTem.service every 1 minutes


[Timer]
OnCalendar=Mon..Fri:0/15
AccuracySec=1s

[Install]
WantedBy=timers.target